@use "@/styles/mixins";

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 40px 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header"
    "exterior"
    "checkboxes"
    "cart";
  gap: 24px;
  padding: 0 20px;

  @include mixins.respond-up(md) {
    padding: 0 50px;
  }

  @include mixins.respond-up(lg) {
    padding-left: 90px;

    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header"
      "exterior cart"
      "checkboxes cart";
    gap: 32px 24px;
  }

  @include mixins.respond-up(xxl) {
    padding-left: 120px;
  }
}

.header {
  grid-area: header;
  @include mixins.respond-up(lg) {
    max-width: 668px;
  }

  div {
    margin-top: 32px;
  }

  h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  span {
    display: block;
    font-family: Family;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    line-height: 48px;
    margin: 20px 0;
  }

  p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.54px;
  }
}

.exterior {
  grid-area: exterior;
}

.checkboxes {
  grid-area: checkboxes;
}

.cart {
  grid-area: cart;
}
